body{
font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding:0;  
  outline: none;
}

/* Layout */
.logo-text{
    margin: 0;
    padding: 0;
}
main{
    margin: 0;
    padding: 0;

}
.Header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
    margin-bottom: 0;
}
.header-link{
    padding: 0;
    text-decoration: none;
    margin: 0 1.5rem;
}

.header-link:hover{
    opacity: 0.7;
}
.search-container{
    background-image: url("../src/img/background.jpg");
    background-color: #8a8a8a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container-searchbar{
    width: 50%;
    padding: 0.5em;
    border-radius: 1em;
    font-size: 1.5rem;
}
.search-container-text{
    color: white;
    font-size: 3rem;
    margin: 2em 0;
}
/* Typography */

.logo-text{
    font-weight: 700;
    font-size: 3rem;
    color: rgb(20, 122, 255);
}
.header-link-text{
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
}


/* footer */
.contacts {
    background: #111;
    color: #00eaff;
    text-align: center;
    padding: 2em 0;
    font-size: var(--fs-h3);

}

.contacts a { 
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;

}
.social-list__link{
    margin: 0 2rem;
}

.social-list__link:hover {
    opacity: .7;
}


/* Grid */

.Home-grid-container{
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px,500px));
    grid-template-rows: repeat(1, minmax(auto));
    justify-content: center;   
}


.Homepage-grid-card{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2em 4em;
    border: solid 1px rgb(194, 194, 194);
    box-shadow: 0px 0px 10px rgb(98, 98, 98);
    transition: all .2s;
    margin: 1rem;
}

.Homepage-grid-card:hover{
    transform: scale(1.05);
}
.grid-title,.grid-image,.grid-description{
    margin-bottom: 1rem;
}

.Button{
    font-size: 1.05rem;
    font-weight: 500;
    padding: 0.5em 1em ;
    border-radius: 0.8em;
    border: 1px solid rgb(170, 170, 170);
}
.Button:hover{
    background-color: rgb(0, 61, 194);
    color: white;
}
@media (max-width:1300px){
    .Home-grid-container{
        padding: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(300px,1fr));
        justify-items: center;
    }

    .Homepage-grid-card{
        margin: 1rem 0;
    }
}

.loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
  }

.container {
    width: 100%;
    height: 500px;
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
  }
  
  .form {
    width: 100%;
    height: 500px;
    font-size: 16px;
    padding-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mainBlack);
  }
  
  /* end of home css */

  .login{
    height: 500px;
  }
  
  .loginForm {
    font-size: 16px;
    height: 500px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }
  
  .inputField {
    padding-top: 16px;
  }
  
  .input {
    box-sizing: border-box;
    outline: none;
    border: solid 2px #1189de;
    border-radius: 4px;
    color: #292929;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
  }
  
  .submitButton {
    padding-top: 16px;
  }
  
  .btnb {
    width: 100%;
    min-width: 280px;
    color: #565656;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px #1189de;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
  }