.sellFormArea{
    background: #333;
    border-radius: 4px;
    border: 0;
    color: #fff;
    line-height: 10px;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.filter-container {

  flex-direction: column;
  width: 25vw;
  height: calc(100vh - 90px);
  padding: 1rem 0;

  /* overflow: scroll;
  overflow-x: hidden; */
}
.filter-form {
  width: 10vw;

  display: grid;
  grid-template-columns: repeat(2, minmax(150px,50px));
  grid-row-gap: 0.5rem;
  grid-column-gap: 10px;
  align-items: center;
  margin: 0 2rem;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 100%;
  padding: 0.2rem;
  border:1px solid #000;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}

.submitButton{
  background: #e50914;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 12px;
    padding: 16px;
    border: 0;
    color: white;
    cursor: pointer;
    width: 100%;
}
button.disable{
  opacity: 0.5;
} 

@media (max-width: 1200px) {
  .filter-form {
    width: 10vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(110px,50px));
    grid-row-gap: 0.5rem;
    grid-column-gap: 10px;
    align-items: center;
    margin: 0 2rem;
  }
}

@media (max-width: 800px) {
  .filter-form {
    width: 10vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px,50px));
    grid-row-gap: 0.5rem;
    grid-column-gap: 10px;
    align-items: center;
    margin: 0 2rem;
  }
}

.filter-button{
    background: #e50914;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 85px;
    padding: 0.75rem 1rem;
    width:150px;
    border: 0;
    color: white;
    cursor: pointer;
    outline:none;
    
}

.filter-button:hover {background-color: #ff8c92}

.filter-button:active {
  background-color: #ff8c92;
  box-shadow: 0 5px #ff8c92;
  transform: translateY(4px);
}